*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
}
body {
  background-color: black !important;
}

.bg-header{
  background-color: #0EA5E9;
}

.bg-contents{
  background-color: black;
}

.bg-card{
  background-color: #050E12;
}

.text-header-card{
  color: #B6B6B6;
}

.text-section-description{
  color: #d1cdcd;
}

.text-ellipsis {
  white-space: nowrap;      /* Mencegah teks membungkus ke baris berikutnya */
  overflow: hidden;         /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis;  /* Menampilkan titik-titik saat teks terlalu panjang */
}

.size-card{
  /* min-width: 200px; */
  width: 100%;
  height: 355.1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;


}

.size-card:hover {
  box-shadow: 0px 4px 8px rgba(14, 165, 233, 0.5); /* Shadow with blue color */
  cursor: pointer;
  transform: scale(1.02);
  
  /* z-index: 10; */
}

.size-img-card{
  width: 100%;
  height: 290px;
}

.icon-mark, .icon-favorite {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}



.icon-mark:active, .icon-favorite:active {
  background-color: red;
  transform: scale(0.9);
}

/* Show the icons when hovering over the card */
.card:hover .icon-mark, 
.card:hover .icon-favorite {
  opacity: 1;
  visibility: visible;
}

/* Adjust icon positioning */
.icon-mark {
  padding-right: 35px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 104px;
  left: 110px;
}

.icon-favorite {
  margin-right: 8px;
  margin-bottom: 7px;
  position: absolute;
  bottom: 104px;
  left: 137px;

}


@media (max-width: 768px) {
  .text-section-description{
    font-size: 11px;

  }
  .text-title{
    font-size: 18px;
  }
  .text-overview{
    font-size: 13px;
  }
}

@media (max-width: 455px) {
  .header-card{
    font-size: 10px;
  }
  .size-card{
    width: 100%;
    height: 365.1px;
    margin: auto;
  }
  .size-img-card{
    height: 300px;
  }
  .text-overview{
    font-size: 12px;
  }
  .text-section-description{
    font-size: 9px;
  }
  .text-title{
    font-size: 20px;
  }
}

/* @media screen and (min-width: 455px) {
  .size-card{
    width: 180px;
    height: 355.1px;
  }
  
  .size-img-card{
    height: 290px;
  }
} */



/* @media screen and (max-width: 455px) {
  .size-card{
    height: 355.1px;
  }
  
  .size-img-card{
    height: 290px;
  }
} */

